.friends-screen {
  padding: 0px 25px;
}

.friends-screen__channel {
  margin-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
