.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 700;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.user-component__avatar-xl {
  width: 70px;
  height: 70px;
}
.user-component__avatar-sm {
  width: 60px;
  height: 60px;
}

.user-component__subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.user-component__red-circle {
  background-color: tomato;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-left: 16px;
}

.user-component__time {
  margin-bottom: 8px;
  display: block;
  font-size: 13px;
}

.user-component__column__gift i {
  color: tomato;
}

.user-component__column__gift {
  border: 1px solid tomato;
  padding: 5px;
  border-radius: 15px;
  font-size: 13px;
}

.user-component {
  margin-bottom: 20px;
}
